@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

img {
  max-height: 300px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}


.parallax {
  /* The image used */
  background-image: url('images/hanging.png');

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  /* The image used */
  background-image: url('images/chilling.png');

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}


.parallax2 {
  /* The image used */
  background-image: url('images/walking.png');

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.about-me-container {
  align-content: center;
  max-width: 900px;
  text-align: center;
  padding: 50px;
}

.text--green{
  color: #9dc183; 
}

.body {
  text-align: center;
  width: 500px;
}

h2 {
  padding-top: 20px;
  font-size: 25px;
}


h3 {
  padding-bottom: 50px;
}

.body {
  padding-top: 50px;
}

.body1 {
  padding: 100px;
  max-width: 500px;
}

p2 {
  font-size: 20px;
}

.hidden {
  display: none;
}

#reveal-button:active + #rose + #text {
  display: block;
  display: contents;
}

button {
  align-self: center;
}
